@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  font-weight: 700;
  color: white;
  font-family: "Cinzel", serif;
}

.container {
  padding: 0 40px;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 2px solid white;
  background-color: black;
}

.navbar_list {
  display: flex;
  justify-content: flex-end;
}

.navbar_item {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}

.navbar_item:hover > .navbar_link,
.navbar_item:focus > .navbar_link {
}

.navbar_item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.navbar_link {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  margin-top: 67px;
  background-image: url(https://phonoteka.org/uploads/posts/2021-04/1618658424_35-phonoteka_org-p-programmnii-kod-fon-54.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 2px solid white;
}

.welcome-section_title {
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  padding-top: 120px;
}

.welcome-section_name {
  font-size: 200px;
}

.about {
  background-image: url(https://phonoteka.org/uploads/posts/2021-04/1618658420_21-phonoteka_org-p-programmnii-kod-fon-34.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about_text {
  padding: 100px;
  text-indent: 50px;
}

#projects {
  background-image: url(https://phonoteka.org/uploads/posts/2021-04/1618658424_35-phonoteka_org-p-programmnii-kod-fon-54.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
